.grid-container {
    display: grid;
}

.grid-item1 {
    text-align: center;
    grid-column: 1 / span 5;
    grid-row: 1;
}

.grid-item2 {
    text-align: center;
    grid-column: 1 / span 5;
    grid-row: 2;
    justify-content: center;
    align-content: center;
}

.grid-item3 {
    text-align: center;
    grid-column: 1 / span 5;
    grid-row: 3;
    justify-content: center;
    align-items: center;
}

.grid-item4 {
    grid-row: 4;
    grid-column: 1 / 5;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.grid-item5 {
    grid-row: 5;
    grid-column: 1 / 5;
    justify-items: center;
    align-items: center;
}

.grid-item6 {
    grid-row: 6;
    justify-items: center;
    align-items: center;
}